@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-result-thumbnail {
  border: 0.5rem solid #ac0b21f8;
}

.title-description {
  font-family: "Berkshire Swash", cursive;
}

/* .float {
  float: right;
} */
